extends layout

block content
  .row 
    .col-12.col-md-6 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident id quia quisquam aperiam fugiat explicabo illum numquam perspiciatis, velit culpa dolorum accusantium. Unde inventore adipisci earum debitis eius dolore temporibus.
    .col-12.col-md-6 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident expedita, eum nihil ratione ipsum quas corrupti? Consequatur corrupti eveniet neque ea? Eligendi quibusdam alias, consequuntur expedita dignissimos inventore provident esse.


  .row 
    .col-12.col-md-6 
      .card 
        img.card-img-top(src="", alt="")
        .card-body
          h5.card-tittle Card title 
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
    .col-12.col-md-6
      .card 
        img.card-img-top(src="", alt="")
        .card-body
          h5.card-tittle Card title 
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Go somewhere
