doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- Indicamos que cuando nos llegue el bloque content lo agrege en esta parte de la web.
    block content
  footer 
    block footer
